.SupportTicketInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  &__item {
    &_name {
      color: var(--seventh-color);
      margin-bottom: 12px;
    }

    &:last-child {
      grid-column: 1/5;
    }
  }
}