.input {
  border: 1px solid var(--sixth-color);
  border-radius: 40px;
  color: var(--fourth-color);
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  padding: 12px 40px;
  width: 100%;

  &::placeholder {
    color: var(--seventh-color);
  }
}
