.SellerProfileBasketItem {
  border: 1px solid var(--sixth-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__field {
    &:last-child {
      grid-column: span 2;
    }
  }

  &__btns {
    display: flex;
    column-gap: 20px;
  }
}
