.btn {
  background-color: var(--third-color);
  color: var(--tenth-color);
  border: 1px solid transparent;
  border-radius: 24px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  padding: 12px 40px;

  &:hover {
    background-color: var(--second-color);
  }

  &.outlined {
    background-color: transparent;
    color: var(--third-color);
    border: 1px solid var(--third-color);

    &:hover {
      color: var(--second-color);
      border-color: var(--second-color);
    }
  }

  &:disabled {
    cursor: default;
  }

  &.bright_blue {
    background-color: var(--sixth-color);
  }
}
