:root {
  --first-color: #005da9;
  --second-color: #0071cd;
  --third-color: #018cfe;
  --fourth-color: #1b1b1b;
  --fifth-color: #49adff;
  --sixth-color: #94cfff;
  --seventh-color: #d9d9d9;
  --eighth-color: #e3f3ff;
  --ninth-color: #fa3939;
  --tenth-color: #ffffff;
  --eleventh-color: #e3f3ff;

  ._dark {
    --fourth-color: #ffffff;
    --sixth-color: #018cfe;
    --tenth-color: #1b1b1b;
    --eleventh-color: #373737;
  }
}
