.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1276px;

  @media (max-width: 1330px) {
    padding: 0 15px;
    max-width: 1170px;
  }
}

button.btn-circle,
span.btn-circle {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 36px;
  height: 36px;
}

.table {
  table-layout: fixed;
  width: 100%;

  &-tr {
    &:last-child {
      td {
        padding-bottom: 0;
      }
    }
  }

  &-th {
    color: var(--seventh-color);
    font-weight: 400;
    text-align: left;
    padding-bottom: 16px;
  }

  &-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
    padding-bottom: 8px;

    &:last-child {
      padding-right: 0;
    }
  }

  .table-btn {
    @extend .btn-circle;
  }

  .table-item-action {
    width: 36px;
  }
}

.filter {
  &-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px 20px;
    margin-bottom: 20px;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.color {
  &-ui {
    color: var(--third-color);
  }

  &-green {
    color: #1cc700;
  }

  &-red {
    color: var(--ninth-color);
  }
}

.link {
  color: var(--first-color);
  transition: 0.3s;

  &:hover {
    color: var(--second-color);
  }
}

.word {
  &-break {
    word-break: break-all;
    overflow-wrap: anywhere;
  }
}

.style-block {
  background: var(--fourth-color);
  border-radius: 8px;
  box-shadow: 12px 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 32px 40px;

  @media (max-width: 920px) {
    padding: 24px 32px;
  }

  @media (max-width: 576px) {
    padding: 16px 20px;
  }
}

.form {
  &-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}

.btns {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--indentation-small);
}

.fw {
  &-600 {
    font-weight: 600;
  }
}

.modal {
  &-block {
    background-color: var(--tenth-color);
    border-radius: 12px;
    padding: 40px;
    min-width: 55vw;
  }
}
