.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 40px;

  &__list {
    display: flex;
    column-gap: 12px;
  }

  .Pagination__arrow,
  .Pagination__item {
    border-radius: 4px;
    justify-content: center;
    font-weight: 700;   
    padding: 8px;
  }

  &__item {
    min-width: 47px;
  }
}
