.SelectForm {
  position: relative;

  &__input {
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 14px;
    right: 40px;
    z-index: 2;
  }

  &__list {
    background-color: var(--tenth-color);
    border: 1px solid var(--sixth-color);
    border-radius: 20px;
    position: absolute;
    transform: translateY(8px);
    width: 100%;
    z-index: 1;
  }

  &__item {
    border-bottom: 1px solid var(--sixth-color);
    cursor: pointer;
    padding: 12px 40px;

    &:last-child {
      border-bottom: none;
    }
  }
}
